@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

.font-caveat-brush {
  font-family: "Caveat Brush", cursive;
}

.bottom-edge-secondary::after {
  content: "";
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../src/images/icons/rough-edge-white.svg);
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* RichDataComponent.css */

/* Override Tailwind's preflight for headings */
.rich-data h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.rich-data h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

/* Override Tailwind's preflight for paragraphs */
.rich-data p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Override Tailwind's preflight for lists */
.rich-data ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.rich-data ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.rich-data li {
  margin-bottom: 0.5rem;
}

/* Override Tailwind's preflight for links */
.rich-data a {
  color: #2563eb; /* Tailwind's blue-600 */
  text-decoration: underline;
}

.rich-data a:hover {
  color: #1d4ed8; /* Tailwind's blue-700 */
}

/* Override Tailwind's preflight for images */
.rich-data img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
